<style>
  section {
    padding: 100px 0;
    background-color: #eee;
  }

  html,
  body {
    overflow-x: hidden;
  }

  body {
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 400;
  }

  h1 {
    font-size: 200%;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
  }

  .timeline {
    position: relative;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }

  .container {
    padding: 100px;
  }

  .timeline::before {
    content: '';
    background: #C5CAE9;
    width: 5px;
    height: 95%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .timeline-item {
    width: 100%;
    margin-bottom: 70px;
  }

  .timeline-item:nth-child(even) .timeline-content {
    float: right;
    padding: 40px 30px 10px 30px;
  }

  .timeline-item:nth-child(even) .timeline-content .date {
    right: auto;
    left: 0;
  }

  .timeline-item:nth-child(even) .timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
  }

  .timeline-item::after {
    content: '';
    display: block;
    clear: both;
  }

  .timeline-content {
    position: relative;
    width: 45%;
    /* padding: 10px 30px; */
    border-radius: 4px;
    background: #f5f5f5;
    box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
  }

  .timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    right: -15px;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #f5f5f5;
  }

  .timeline-img {
    width: 30px;
    height: 30px;
    background: #3F51B5;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-top: 25px;
    margin-left: -15px;
  }

  .timeline a {
    background: #3F51B5;
    color: #FFFFFF;
    padding: 8px 20px;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 2px;
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);
  }

  a:hover,
  a:active,
  a:focus {
    background: #32408f;
    color: #FFFFFF;
    text-decoration: none;
  }

  .timeline-card {
    padding: 0 !important;
  }

  .timeline-card p {
    padding: 0 20px;
  }

  .timeline-card a {
    margin-left: 20px;
  }

  .timeline-item .timeline-img-header {
    /* background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("https://picsum.photos/1000/800/?random") center center no-repeat; */
    background-size: cover;
  }

  .timeline-img-header {
    height: 200px;
    position: relative;
    margin-bottom: 20px;
  }

  .timeline-img-header h2 {
    color: #FFFFFF;
    position: absolute;
    bottom: 5px;
    left: 20px;
  }

  blockquote {
    margin-top: 30px;
    color: #757575;
    border-left-color: #3F51B5;
    padding: 0 20px;
  }

  .date {
    background: #FF4081;
    display: inline-block;
    color: #FFFFFF;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
  }

  @media screen and (max-width: 768px) {
    .timeline::before {
      left: 50px;
    }

    .timeline .timeline-img {
      left: 50px;
    }

    .timeline .timeline-content {
      max-width: 100%;
      width: auto;
      margin-left: 70px;
    }

    .timeline .timeline-item:nth-child(even) .timeline-content {
      float: none;
    }

    .timeline .timeline-item:nth-child(odd) .timeline-content::after {
      content: '';
      position: absolute;
      border-style: solid;
      width: 0;
      height: 0;
      top: 30px;
      left: -15px;
      border-width: 10px 15px 10px 0;
      border-color: transparent #f5f5f5 transparent transparent;
    }
  }
</style>
<!-- <script src="https://unpkg.com/scrollreveal"></script> -->
<!-- <script>
  $(function () {
    window.sr = ScrollReveal();

    if ($(window).width() < 768) {
      if ($('.timeline-content').hasClass('js--fadeInLeft')) {
        $('.timeline-content').removeClass('js--fadeInLeft').addClass('js--fadeInRight');
      }

      sr.reveal('.js--fadeInRight', {
        origin: 'right',
        distance: '300px',
        easing: 'ease-in-out',
        duration: 800,
      });
    } else {
      sr.reveal('.js--fadeInLeft', {
        origin: 'left',
        distance: '300px',
        easing: 'ease-in-out',
        duration: 800,
      });

      sr.reveal('.js--fadeInRight', {
        origin: 'right',
        distance: '300px',
        easing: 'ease-in-out',
        duration: 800,
      });
    }

    sr.reveal('.js--fadeInLeft', {
      origin: 'left',
      distance: '300px',
      easing: 'ease-in-out',
      duration: 800,
    });

    sr.reveal('.js--fadeInRight', {
      origin: 'right',
      distance: '300px',
      easing: 'ease-in-out',
      duration: 800,
    });
  });

</script> -->

<style>
#_2015-1 {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("https://picsum.photos/1000/800/?random") center center no-repeat;
  background-size: cover;
}
#_2015-1:hover {
  background: url("assets/images/topic2015%231.png") center center no-repeat;
  background-size: contain;
}
#_2015-6 {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("https://picsum.photos/1000/800/?random") center center no-repeat;
  background-size: cover;
}
#_2015-6:hover {
  background: url("assets/images/topic2015%236.png") center center no-repeat;
  background-size: contain;
}
#_2015-9 {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("https://picsum.photos/1000/800/?random") center center no-repeat;
  background-size: cover;
}
#_2015-9:hover {
  background: url("assets/images/topic2015%239.png") center center no-repeat;
  background-size: contain;
}
#_2015-11 {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("https://picsum.photos/1000/800/?random") center center no-repeat;
  background-size: cover;
}
#_2015-11:hover {
  background: url("assets/images/topic2015%2311.png") center center no-repeat;
  background-size: contain;
}
#_2015-1 {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("https://picsum.photos/1000/800/?random") center center no-repeat;
  background-size: cover;
}
#_2015-1:hover {
  background: url("assets/images/topic2015%231.png") center center no-repeat;
  background-size: contain;
}
#_2015-1 {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("https://picsum.photos/1000/800/?random") center center no-repeat;
  background-size: cover;
}
#_2015-1:hover {
  background: url("assets/images/topic2015%231.png") center center no-repeat;
  background-size: contain;
}
#_2015-1 {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("https://picsum.photos/1000/800/?random") center center no-repeat;
  background-size: cover;
}
#_2015-1:hover {
  background: url("assets/images/topic2015%231.png") center center no-repeat;
  background-size: contain;
}
#_2015-1 {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("https://picsum.photos/1000/800/?random") center center no-repeat;
  background-size: cover;
}
#_2015-1:hover {
  background: url("assets/images/topic2015%231.png") center center no-repeat;
  background-size: contain;
}
#_2015-1 {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("https://picsum.photos/1000/800/?random") center center no-repeat;
  background-size: cover;
}
#_2015-1:hover {
  background: url("assets/images/topic2015%231.png") center center no-repeat;
  background-size: contain;
}
#_2015-1 {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("https://picsum.photos/1000/800/?random") center center no-repeat;
  background-size: cover;
}
#_2015-1:hover {
  background: url("assets/images/topic2015%231.png") center center no-repeat;
  background-size: contain;
}
</style>

<section class="timeline">
  <div class="container">
    <div class="timeline-item">
      <div class="timeline-img"></div>

      <div class="timeline-content timeline-card js--fadeInLeft">
        <div id="_2015-1" class="timeline-img-header">
          <h2>President Obama cancelled a XL pipeline</h2>
        </div>
        <div class="date">February 2015</div>
        <p>Barack <strong>Obama</strong> vetoes a Republican approval of construction of the <strong>Keystone</strong> XL <strong>pipeline</strong></p>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInRight">
        <div class="timeline-img-header">
          <h2>Obama US Military forces</h2>
        </div>
        <div class="date">May 2015</div>
        <p>US military forces will be forced to take into account the climate change in their behaviors</p>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInLeft">
        <div class="timeline-img-header">
          <h2>Sea rise level record</h2>
        </div>
        <div class="date">August 2015</div>
        <blockquote>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta explicabo debitis omnis dolor iste
          fugit totam quasi inventore!</blockquote>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInRight">
        <div class="timeline-img-header">
          <h2>Agreement leadership</h2>
        </div>
        <div class="date">December 2015</div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime ipsa ratione omnis alias cupiditate saepe
          atque totam aperiam sed nulla voluptatem recusandae dolor, nostrum excepturi amet in dolores. Alias, ullam.
        </p>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInRight">
        <div class="timeline-img-header">
          <h2>Trans-Pacific Partnership Agreement</h2>
        </div>
        <div class="date">Mars 206</div>
        <p>Economic agreement between Australia, Brunei, Canada, Chile, Japan, Malaysia, Mexico, New Zealand, Peru, Singapore, Vietnam, and the United States signed on 4 February 2016 with an <strong>important</strong> deal for <strong>climate</strong> and in particular to <strong>stop</strong> overfishing.</p>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInLeft">
        <div class="timeline-img-header">
          <h2>Paris Agreements</h2>
        </div>
        <div class="date">April 2016</div>
        <p>Famous <strong>agreements signs </strong>by important countries to take <strong>actions </strong>against</p>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInRight">
        <div class="timeline-img-header">
          <h2>Paris, Trump, United states, political</h2>
        </div>
        <div class="date">August 2017</div>
        <p></p>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInLeft">
        <div class="date">March 2018</div>
        <div class="timeline-img-header">
          <h2>energy / power / solar / clean</h2>
        </div>
        <blockquote></blockquote>
      </div>
    </div>

    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInRight">
        <div class="timeline-img-header">
          <h2>Trump / Paris</h2>
        </div>
        <div class="date">June 2018</div>
        <p></p>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInLeft">
        <div class="timeline-img-header">
          <h2>forest / fire / water</h2>
        </div>
        <div class="date">August 2018</div>
        <p>national disaster was declared in Northern California, due to the extensive wildfires burning there</p>
      </div>
    </div>
    
    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInRight">
        <div class="timeline-img-header">
          <h2>School Strikes for Climate</h2>
        </div>
        <div class="date">March 2019</div>
        <p>international student’s mobilisation in order to demonstrate against Global Warming issue</p>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInLeft">
        <div class="timeline-img-header">
          <h2>Amazon Climate Pledge or Amazon Wildfire</h2>
        </div>
        <div class="date">August 2019</div>
        <p>Amazon and Global Optimism co-founded The Climate Pledge to reduce CO2 emissions with an aim to reach net-zero carbon by 2040. Besides, there were many wildfires in the Amazon which impact CO2 emissions.</p>
      </div>
    </div>
    
    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInRight">
        <div class="timeline-img-header">
          <h2>Fossil fuel demonstration</h2>
        </div>
        <div class="date">September 2019</div>
        <p>Multi-block protest organized especially in San Francisco,CA by people to demonstrate against fossil fuel use and financial institutions related to fossil fuel</p>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInLeft">
        <div class="timeline-img-header">
          <h2></h2>
        </div>
        <div class="date">August 2018</div>
        <p></p>
      </div>
    </div>
    
    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInRight">
        <div class="timeline-img-header">
          <h2>Trump / Paris</h2>
        </div>
        <div class="date">June 2018</div>
        <p></p>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInLeft">
        <div class="timeline-img-header">
          <h2>forest / fire / water</h2>
        </div>
        <div class="date">August 2018</div>
        <p>national disaster was declared in Northern California, due to the extensive wildfires burning there</p>
      </div>
    </div>
    
    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInRight">
        <div class="timeline-img-header">
          <h2>Trump / Paris</h2>
        </div>
        <div class="date">June 2018</div>
        <p></p>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInLeft">
        <div class="timeline-img-header">
          <h2>forest / fire / water</h2>
        </div>
        <div class="date">August 2018</div>
        <p>national disaster was declared in Northern California, due to the extensive wildfires burning there</p>
      </div>
    </div>
  </div>
</section>