<style>
  section {
    padding: 100px 0;
    background-color: #eee;
  }

  html,
  body {
    overflow-x: hidden;
  }

  body {
    font-family: 'Roboto';
    font-size: 17px;
    font-weight: 400;
  }

  h1 {
    font-size: 200%;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
  }

  .timeline {
    position: relative;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 50px;
  }

  .container {
    padding: 100px;
    padding-bottom: 50px;
  }

  .timeline::before {
    content: '';
    background: #C5CAE9;
    width: 5px;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .timeline-item {
    width: 100%;
    margin-bottom: 70px;
  }

  .timeline-item:nth-child(even) .timeline-content {
    float: right;
    padding: 40px 30px 10px 30px;
  }

  .timeline-item:nth-child(even) .timeline-content .date {
    right: auto;
    left: 0;
  }

  .timeline-item:nth-child(even) .timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    left: -15px;
    border-width: 10px 15px 10px 0;
    border-color: transparent #f5f5f5 transparent transparent;
  }

  .timeline-item::after {
    content: '';
    display: block;
    clear: both;
  }

  .timeline-content {
    position: relative;
    width: 45%;
    /* padding: 10px 30px; */
    border-radius: 4px;
    background: #f5f5f5;
    box-shadow: 0 20px 25px -15px rgba(0, 0, 0, 0.3);
  }

  .timeline-content::after {
    content: '';
    position: absolute;
    border-style: solid;
    width: 0;
    height: 0;
    top: 30px;
    right: -15px;
    border-width: 10px 0 10px 15px;
    border-color: transparent transparent transparent #f5f5f5;
  }

  .timeline-img {
    width: 30px;
    height: 30px;
    background: #3F51B5;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-top: 25px;
    margin-left: -15px;
  }

  .timeline a {
    background: #3F51B5;
    color: #FFFFFF;
    padding: 8px 20px;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 10px;
    display: inline-block;
    border-radius: 2px;
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.6);
  }

  a:hover,
  a:active,
  a:focus {
    background: #32408f;
    color: #FFFFFF;
    text-decoration: none;
  }

  .timeline-card {
    padding: 0 !important;
  }

  .timeline-card p {
    padding: 0 20px;
  }

  .timeline-card a {
    margin-left: 20px;
  }

  .timeline-item .timeline-img-header {
    /* background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("assets/images/paris_agreement.jpg") center center no-repeat; */
    background-size: cover;
  }

  .timeline-img-header {
    height: 200px;
    position: relative;
    margin-bottom: 20px;
  }

  .timeline-img-header h2 {
    color: #FFFFFF;
    position: absolute;
    bottom: -10px;
    left: 20px;
  }

  blockquote {
    margin-top: 30px;
    color: #757575;
    border-left-color: #3F51B5;
    padding: 0 20px;
  }

  .date {
    background: #FF4081;
    display: inline-block;
    color: #FFFFFF;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
  }

  @media screen and (max-width: 768px) {
    .timeline::before {
      left: 50px;
    }

    .timeline .timeline-img {
      left: 50px;
    }

    .timeline .timeline-content {
      max-width: 100%;
      width: auto;
      margin-left: 70px;
    }

    .timeline .timeline-item:nth-child(even) .timeline-content {
      float: none;
    }

    .timeline .timeline-item:nth-child(odd) .timeline-content::after {
      content: '';
      position: absolute;
      border-style: solid;
      width: 0;
      height: 0;
      top: 30px;
      left: -15px;
      border-width: 10px 15px 10px 0;
      border-color: transparent #f5f5f5 transparent transparent;
    }
  }
</style>
<!-- <script src="https://unpkg.com/scrollreveal"></script> -->
<!-- <script>
  $(function () {
    window.sr = ScrollReveal();

    if ($(window).width() < 768) {
      if ($('.timeline-content').hasClass('js--fadeInLeft')) {
        $('.timeline-content').removeClass('js--fadeInLeft').addClass('js--fadeInRight');
      }

      sr.reveal('.js--fadeInRight', {
        origin: 'right',
        distance: '300px',
        easing: 'ease-in-out',
        duration: 800,
      });
    } else {
      sr.reveal('.js--fadeInLeft', {
        origin: 'left',
        distance: '300px',
        easing: 'ease-in-out',
        duration: 800,
      });

      sr.reveal('.js--fadeInRight', {
        origin: 'right',
        distance: '300px',
        easing: 'ease-in-out',
        duration: 800,
      });
    }

    sr.reveal('.js--fadeInLeft', {
      origin: 'left',
      distance: '300px',
      easing: 'ease-in-out',
      duration: 800,
    });

    sr.reveal('.js--fadeInRight', {
      origin: 'right',
      distance: '300px',
      easing: 'ease-in-out',
      duration: 800,
    });
  });

</script> -->

<style>
.timeline-img-header:hover h2 {
  color: black;
}

#_2015-2 {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("assets/images/keystone_obama.jpg") center center no-repeat;
  background-size: cover;
}
#_2015-2:hover {
  background: url("assets/images/topic2015%231.png") center center no-repeat;
  background-size: contain;
}
#_2015-5 {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("assets/images/us_military_climate.jpg") center center no-repeat;
  background-size: cover;
}
#_2015-5:hover {
  background: url("assets/images/topic2015%234.png") center center no-repeat;
  background-size: contain;
}
#_2015-8 {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("assets/images/sea_level_rise.jpg") center center no-repeat;
  background-size: cover;
}
#_2015-8:hover {
  background: url("assets/images/topic2015%237.png") center center no-repeat;
  background-size: contain;
}
#_2015-12 {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("assets/images/paris_agreement.jpg") center center no-repeat;
  background-size: cover;
}
#_2015-12:hover {
  background: url("assets/images/topic2015%2311.png") center center no-repeat;
  background-size: contain;
}
#_2016-3 {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("assets/images/tppa.jpg") center center no-repeat;
  background-size: cover;
}
#_2016-3:hover {
  background: url("assets/images/topic2016%232.png") center center no-repeat;
  background-size: contain;
}
#_2016-4 {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("assets/images/signing_paris_agreement.jpg") center center no-repeat;
  background-size: cover;
}
#_2016-4:hover {
  background: url("assets/images/topic2016%233.png") center center no-repeat;
  background-size: contain;
}
#_2017-6 {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("assets/images/trump_cease_paris.jpg") center center no-repeat;
  background-size: cover;
}
#_2017-6:hover {
  background: url("assets/images/topic2017%235.png") center center no-repeat;
  background-size: contain;
}
#_2018-3 {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("assets/images/solar_alliance.jpg") center center no-repeat;
  background-size: cover;
}
#_2018-3:hover {
  background: url("assets/images/topic2018%232.png") center center no-repeat;
  background-size: contain;
}
#_2018-8 {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("assets/images/fire_california.jpg") center center no-repeat;
  background-size: cover;
}
#_2018-8:hover {
  background: url("assets/images/topic2018%237.png") center center no-repeat;
  background-size: contain;
}
#_2019-3 {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("assets/images/school_strike.jpg") center center no-repeat;
  background-size: cover;
}
#_2019-3:hover {
  background: url("assets/images/topic2019%232.png") center center no-repeat;
  background-size: contain;
}
#_2019-8 {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("assets/images/amazone.jpg") center center no-repeat;
  background-size: cover;
}
#_2019-8:hover {
  background: url("assets/images/topic2019%237.png") center center no-repeat;
  background-size: contain;
}
#_2019-9 {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("assets/images/fossil_fuels.jpg") center center no-repeat;
  background-size: cover;
}
#_2019-9:hover {
  background: url("assets/images/topic2019%238.png") center center no-repeat;
  background-size: contain;
}
#_2020-1 {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4)), url("assets/images/australia_bushfire.jpg") center center no-repeat;
  background-size: cover;
}
#_2020-1:hover {
  background: url("assets/images/topic2020%230.png") center center no-repeat;
  background-size: contain;
}
</style>

<section class="timeline">
  <div class="container">
    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInLeft">
        <div id="_2015-2" class="timeline-img-header">
          <h2>President Obama cancelled a XL pipeline</h2>
        </div>
        <div class="date">February 2015</div>
        <p>Barack <strong>Obama</strong> rejects <strong>Keystone</strong> XL <strong>pipeline</strong> and hails US as leader on <strong>climate change</strong>.</p>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInRight">
        <div id="_2015-5" class="timeline-img-header">
          <h2>US Military forces</h2>
        </div>
        <div class="date">May 2015</div>
        <p>US <strong>Military</strong> experts say <strong>climate change</strong> poses 'significant <strong>risk</strong>' to <strong>national security</strong>.</p>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInLeft">
        <div id="_2015-8" class="timeline-img-header">
          <h2>Sea rise level record</h2>
        </div>
        <div class="date">August 2015</div>
        <p>Record <strong>global water level rise</strong> published in a report by the National Center for environmental information, </p>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInRight">
        <div id="_2015-12" class="timeline-img-header">
          <h2>World Agreements</h2>
        </div>
        <div class="date">December 2015</div>
        <p>Adoption of <strong>agreements</strong> with all <strong>governments</strong>’ <strong>leaderships</strong> on december 15th before Paris Agreements signature in 2016.</p>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInRight">
        <div id="_2016-3" class="timeline-img-header">
          <h2>Trans-Pacific Partnership Agreement</h2>
        </div>
        <div class="date">March 2016</div>
      <p>Economic agreement between members of <strong>TPPA</strong>, Australia, Brunei, Canada, Chile, Japan, Malaysia, Mexico, New Zealand, Peru, Singapore, Vietnam, and the United States signed on 4 February 2016 with an <strong>important</strong> deal for <strong>climate</strong> and in particular to <strong>stop</strong> overfishing.</p>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInLeft">
        <div id="_2016-4" class="timeline-img-header">
          <h2>Paris Agreements signing</h2>
        </div>
        <div class="date">April 2016</div>
        <blockquote>Four months after negotiating a global <strong>climate agreement</strong> in <strong>Paris</strong>, government officials are coming to New York on <strong>Friday</strong>, <strong>April</strong> 22, 2016, to <strong>sign</strong> the pact in a ceremony at the United Nations. (<strong>Photo</strong>/Sait Serkan Gurbuz)</blockquote>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInRight">
        <div id="_2017-6" class="timeline-img-header">
          <h2>Donald Trump, announce retreat of Paris Agreement</h2>
        </div>
        <div class="date">June 2017</div>
        <p>On June 1, 2017, United States <strong>President</strong> Donald <strong>Trump</strong> announced that the <strong>United</strong> state of <strong>America</strong>, would cease all participation in the 2015 <strong>Paris Agreement</strong> on <strong>climate change</strong> mitigation.</p>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInLeft">
        <div id="_2018-3" class="timeline-img-header">
          <h2>International <strong>Solar</strong> Alliance</h2>
        </div>
        <div class="date">March 2018</div>
        <p>Foundation summit of the International <strong>Solar</strong> Alliance in New Delhi to promote <strong>Solar energy power</strong>.</p>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInLeft">
        <div id="_2018-8" class="timeline-img-header">
          <h2>Forest fire in California</h2>
        </div>
        <div class="date">August 2018</div>
        <p>National disaster declared in Northern California, due to the extensive <strong>forest</strong> <strong>fires</strong>.</p>
      </div>
    </div>
    
    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInRight">
        <div id="_2019-3" class="timeline-img-header">
          <h2>School Strikes for Climate</h2>
        </div>
        <div class="date">March 2019</div>
        <p><strong>School Strike</strong> for <strong>Climate</strong> is a <strong>world</strong> wide international movement of <strong>young people</strong> participating in demonstrations to demand <strong>political action</strong> against <strong>climate change</strong>.</p>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInLeft">
        <div id="_2019-8" class="timeline-img-header">
          <h2>Amazon Wildfire</h2>
        </div>
        <div class="date">August 2019</div>
        <p>Record of <strong>wilfires</strong> in <strong>Amazon forest</strong> with unprecedent co2 <strong>emissions</strong> to <strong>change</strong> the use of the <strong>land</strong>.</p>
      </div>
    </div>
    
    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInRight">
        <div id="_2019-9" class="timeline-img-header">
          <h2>Fossil fuel demonstration</h2>
        </div>
        <div class="date">September 2019</div>
        <p>Major protests by people to demonstrate against <strong>fossil fuel</strong> arguing it's <strong>time</strong> to change the <strong>system</strong>.</p>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-img"></div>
      <div class="timeline-content timeline-card js--fadeInLeft">
        <div id="_2020-1" class="timeline-img-header">
          <h2>Australia Bushfires</h2>
        </div>
        <div class="date">January 2020</div>
        <p><strong>Australia</strong> suffers devastating <strong>bushfires</strong> after <strong>high temperatures</strong> and <strong>extreme weathers condition</strong></p>
      </div>
    </div>
  </div>
</section>
